.Event{
    width: 100%;
    height:auto;
    margin:80px auto;
    margin-bottom:0px;
}

.news{
    margin:auto !important;
}
.btn1{
    margin-top: 10px;
    background-color: #705ECF;
        }

.part1{
    padding-bottom: 50px;
}
.part2{
    margin-top:20px;
}
    